# network
alias wlan='curl ifconfig.me'
alias ip="ifconfig | grep 'inet ' | grep -v 'inet 127.0.0.1' | cut -d ' ' -f 2"
## proxy
alias proxy='export all_proxy="socks5://127.0.0.1:33211" ; export all_proxy="http://127.0.0.1:33210"'
alias unproxy='unset all_proxy'

# npm config
alias ncg='npm config get'
alias ncgr='npm config get registry'
alias ncs='npm config set'
alias ncsr="npm config set registry"
alias ncsrm="npm config set registry http://registry.npmmirror.com"
alias ncsrn="npm config set registry https://registry.npmjs.org"
alias ns="open 'https://npm-stat.com/'"

# android adb
alias gca="adb shell dumpsys activity | grep -E 'mFocusedActivity|mResumedActivity'"

# common
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# ssh
## doc: https://docs.github.com/en/authentication/troubleshooting-ssh/using-ssh-over-the-https-port
alias sshtp='ssh -T -p 443 git@ssh.github.com'
alias ssht='ssh -T git@github.com'